
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="style.css" />
<title>Browser</title>
</head>

<body>
<div class="container">
<!-- Banner Image -->
<div class="banner-images">
<img
src="https://4.bp.blogspot.com/_Vriqobo2dJw/TT1JbyQpUHI/AAAAAAAAAfw/4PJRDcygwnY/s1600/a_trisha_0025.jpg"
alt="Image 1"
class="banner-image"
/>
<img
src="https://i.pinimg.com/736x/ca/12/8f/ca128f8db4d82d418566f124f9361416.jpg"
alt="Image 2"
class="banner-image"
/>
<img
src="https://i.pinimg.com/736x/7c/1d/f1/7c1df1d6fd011976e178cc372ff643af--create-your-portfolio.jpg"
alt="Image 3"
class="banner-image"
/>
<img
src="https://64.media.tumblr.com/ed857d22895433541c07449ff4baac15/tumblr_mksoveGurT1qmcdhvo1_400.jpg"
alt="Image 4"
class="banner-image"
/>
</div>

<!-- Project Purpose -->
<h1>Purpose of the Project:</h1>
<p>
Our e-commerce project aims to provide users with a seamless shopping
experience.
<br />
Users can easily discover and purchase high-quality products, making
their shopping journeys effortless.
</p>

<!-- Team and Timeline -->
<h2>Team Members, Roles, and Timeline:</h2>
<p>
Our dedicated team worked diligently to bring this project to life.
<br />
Key team members include Kenny (Database), Mary (Front-end Developer),
and Clement (Back-end Developer).
<br />
The project spanned a months, covering planning, development, testing,
and deployment.
</p>

<!-- Target Audience -->
<h2>Target Audience:</h2>
<p>
Our e-commerce platform caters to fashion-forward individuals and anyone
seeking quality wares and great deals. We aim to provide a one-stop
shopping destination for all types of shoppers.
</p>

<!-- Personal Focus -->
<h2>Personal Focus:</h2>
<p>
In this project though we have not start working on the back end, my
focus was on ensuring the reliability of the back-end systems.
<br />
Implementing strong authentication, optimizing database performance, and
securing user data is what am striving for. My goal was to provide a
solid foundation for the success of our e-commerce platform.
</p>
</div>
<script src="script.js"></script>
</body>
</html>

